* text=auto eol=lf

*.sh text eol=lf
Dockerfile text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.desktop text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.AppImage binary
*.deb binary
*.rpm binary
*.zip binary
*.tar.gz binary
